<section class="grid grid-cols-1 gap-2 overflow-auto lg:grid-cols-2">
    <mat-card class="min-w-full">
        <mat-card-header>
            <mat-card-title>
                <h1 class="text-2xl font-medium">Staff</h1>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="m-4">

            <form (ngSubmit)="onSubmit()" [formGroup]="service.form" class="grid grid-cols-1 gap-2 lg:grid-cols-2">

                <mat-form-field appearance="fill" class="lg:col-span-2">
                    <mat-label>Fullname</mat-label>
                    <input matInput readonly type="text" formControlName="fullname" placeholder="Ex. Jose Marie Chan">
                </mat-form-field>
                <!-- Address -->
                <mat-form-field appearance="fill" class="lg:col-span-2">
                    <mat-label>Address</mat-label>
                    <textarea matInput readonly type="text" formControlName="address"></textarea>
                </mat-form-field>
                <!-- Birthday -->
                <mat-form-field appearance="fill" class="lg:col-span-2">
                    <mat-label>Choose your date of birth</mat-label>
                    <input matInput readonly [matDatepicker]="picker" formControlName="birthday">
                    <mat-datepicker-toggle disabled matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <hr class="lg:col-span-2">
                <!-- Gender -->
                <mat-form-field appearance="fill">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option disabled *ngFor="let item of gender" [value]="item.value">{{ item.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Civil Status -->
                <mat-form-field appearance="fill">
                    <mat-label>Civil Status</mat-label>
                    <mat-select formControlName="civil_status">
                        <mat-option disabled *ngFor="let item of civil_status" [value]="item.value">{{ item.viewValue
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <hr class="lg:col-span-2">
                <!-- Contact number -->
                <mat-form-field appearance="fill">
                    <mat-label>Contact number</mat-label>
                    <input matInput readonly type="text" formControlName="contact_number">
                </mat-form-field>
                <!-- Email Address -->
                <mat-form-field appearance="fill">
                    <mat-label>Email Address</mat-label>
                    <input matInput readonly type="text" formControlName="email_address" required>
                </mat-form-field>

                <hr class="lg:col-span-2">

                <mat-form-field appearance="fill">
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="product" (selectionChange)="onProductChange()">
                        <mat-option *ngFor="let product of products" [value]="product.value">
                            {{ product.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="showPrice">
                    <mat-label>Price</mat-label>
                    <mat-select formControlName="price">
                        <mat-option *ngFor="let price of selectedProductPrices" [value]="price">
                            {{ price | currency }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="flex justify-between gap-2 lg:col-span-2">
                    <button mat-raised-button type="submit" [disabled]="!service.form.valid"
                        class="w-full p-2 lg:col-span-2" color="primary">
                        Update
                    </button>
                    <button (click)="openDialog(service.form.value)" mat-raised-button type="button"
                        [disabled]="!service.form.valid" class="w-full p-2 lg:col-span-2" color="accent">
                        Print
                    </button>
                </div>
                <button (click)="onReset()" mat-raised-button type="button" class="w-full p-2 lg:col-span-2" color="warn">
                    Clear Form
                </button>

            </form>
        </mat-card-content>
    </mat-card>

    <!-- table -->
    <app-customer-info></app-customer-info>
</section>